<!DOCTYPE html>
<html>

<head>

    <title>Security Analytics</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Security Analytics Dashboard</h1>

    <a href="/">
        <button>Back to Dashboard</button>
    </a>

    <br><br>

    <h2>Event Statistics</h2>

    <table border="1">

        <tr>
            <th>Severity</th>
            <th>Total Events</th>
        </tr>

        {% for stat in stats %}

        <tr>

            <td>{{ stat[0] }}</td>
            <td>{{ stat[1] }}</td>

        </tr>

        {% endfor %}

    </table>

    <br>

    <h2>Most Targeted File</h2>

    {% if top_file %}

        <p>
            <strong>{{ top_file[0] }}</strong>
            ({{ top_file[1] }} alerts)
        </p>

    {% else %}

        <p>No events recorded yet.</p>

    {% endif %}

    <hr>

    <h2>Severity Distribution</h2>

    <canvas id="severityChart"></canvas>

    <br><br>

    <h2>Severity Pie Chart</h2>

    <canvas id="severityPie"></canvas>

    <script>

        const labels = [
            {% for stat in stats %}
                "{{ stat[0] }}",
            {% endfor %}
        ];

        const values = [
            {% for stat in stats %}
                {{ stat[1] }},
            {% endfor %}
        ];

        new Chart(
            document.getElementById('severityChart'),
            {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Security Events',
                        data: values
                    }]
                }
            }
        );

        new Chart(
            document.getElementById('severityPie'),
            {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: values
                    }]
                }
            }
        );

    </script>

</body>

</html>