<!DOCTYPE html>
<html>

<head>

    <title>HashGuard Dashboard</title>

    <meta http-equiv="refresh" content="5">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>HashGuard Security Dashboard</h1>

    {% if alerts %}

        {% for alert in alerts %}

            <div class="alert-box">

                {{ alert }}

            </div>

        {% endfor %}

    {% else %}

        <p class="safe">No integrity violations detected.</p>

    {% endif %}

</body>

</html>