<!DOCTYPE html>
<html>

<head>

    <title>HashGuard Dashboard</title>

    <meta http-equiv="refresh" content="5">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>HashGuard Security Dashboard</h1>

    <a href="/download-report">
        <button>Download JSON Report</button>
    </a>

    <a href="/download-pdf">
        <button>Download PDF Report</button>
    </a>

    <a href="/update-baseline">
        <button>Update Baseline</button>
    </a>

    <a href="/history">
        <button>View Event History</button>
    </a>

    <a href="/analytics">
        <button>View Analytics</button>
    </a>

    <a href="/logout">
        <button>Logout</button>
    </a>

    <br><br>

    {% if alerts %}

        <h2>Active Security Alerts</h2>

        {% for alert in alerts %}

            <div class="alert-box">

                {{ alert }}

            </div>

        {% endfor %}

    {% else %}

        <p class="safe">

            No integrity violations detected.

        </p>

    {% endif %}

</body>

</html>